@media (max-width: 650px) {
  .hangman_container {
    transform: scale(0.75);
    transform-origin: top left;
    height: 250px;
    width: 125px;
  }
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -110px;
}

.body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 119px;
  right: -80px;
}

.right_arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -180px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left_arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -70px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right_leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -170px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left_leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -80px;
  rotate: -60deg;
  transform-origin: right bottom;
}

.construction4 {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  top: 0;
  right: -80px;
}

.construction3 {
  height: 10px;
  width: 200px;
  background: black;
  margin-left: 120px;
  position: absolute;
  top: 0;
}

.construction2 {
  height: 500px;
  width: 10px;
  background: black;
  margin-left: 120px;
}

.construction1 {
  height: 10px;
  width: 250px;
  background: black;
  position: absolute;
  bottom: 0;
}
